@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tenne-tawny: #d65107;
    --tenne-tawny-dark: #b54507;
}

body {
    font-weight: 300px;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
}